
.vs/OXXO/FileContentIndex/3fd35ecc-6a6a-4bf1-a570-8f27a9632699.vsidx
.vs/OXXO/FileContentIndex/read.lock
.vs/OXXO/FileContentIndex/98bd2a81-583a-4430-bc76-798e009e06a3.vsidx
.vs/OXXO/v17/.suo
OXXO/obj/Debug/netcoreapp3.1/OXXO.GeneratedMSBuildEditorConfig.editorconfig
OXXO/obj/Debug/netcoreapp3.1/OXXO.GeneratedMSBuildEditorConfig.editorconfig
.vs/OXXO/FileContentIndex/b0b89c04-9a69-4007-bb1d-df82f209901a.vsidx
.vs/OXXO/FileContentIndex/4db9aff3-c8a1-4e89-b0da-ddc1daec2333.vsidx
