
.vs/OXXO/FileContentIndex/3fd35ecc-6a6a-4bf1-a570-8f27a9632699.vsidx
.vs/OXXO/FileContentIndex/read.lock
.vs/OXXO/FileContentIndex/98bd2a81-583a-4430-bc76-798e009e06a3.vsidx
.vs/OXXO/v17/.suo
OXXO/obj/Debug/netcoreapp3.1/OXXO.GeneratedMSBuildEditorConfig.editorconfig
OXXO/obj/Debug/netcoreapp3.1/OXXO.GeneratedMSBuildEditorConfig.editorconfig
